server:
  port: 9090
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${MYSQL_URL:jdbc:mysql://49.234.181.38:3306/springboot-vue?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useSSL=false&serverTimezone=GMT%2b8}
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:mysql_ec7ptz}
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  profiles:
    active: dev

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.demo.entity
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl  # 开发环境打印SQL语句
debug: true

jwt:
  secret: '1234567890'
  expiration: 86400000  # 24小时



