<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SysRoleMapper">
    
    <select id="selectRoleList" parameterType="SysRole" resultType="SysRole">
        select * from sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                AND role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="roleKey != null and roleKey != ''">
                AND role_key = #{roleKey}
            </if>
        </where>
        order by role_sort
    </select>
    
    <select id="selectRoleById" parameterType="Long" resultType="SysRole">
        select * from sys_role where role_id = #{roleId}
    </select>
    
    <insert id="insertRole" parameterType="SysRole">
        insert into sys_role (
            role_name, role_key, role_sort, data_scope,
            status, create_by, create_time, remark
        ) values (
            #{roleName}, #{roleKey}, #{roleSort}, #{dataScope},
            #{status}, #{createBy}, sysdate(), #{remark}
        )
    </insert>
    
    <update id="updateRole" parameterType="SysRole">
        update sys_role
        <set>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="roleKey != null">role_key = #{roleKey},</if>
            <if test="roleSort != null">role_sort = #{roleSort},</if>
            <if test="dataScope != null">data_scope = #{dataScope},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        where role_id = #{roleId}
    </update>
    
    <delete id="deleteRoleById" parameterType="Long">
        delete from sys_role where role_id = #{roleId}
    </delete>
    
    <select id="selectRolesByUserId" parameterType="Long" resultType="SysRole">
        select r.* 
        from sys_role r
        left join sys_user_role ur on ur.role_id = r.role_id
        where ur.user_id = #{userId}
    </select>
</mapper> 